.main-form {
    padding: 50px 40px;
    background-color: rgb(112, 111, 111);
}

.main-form .main-title {
    margin-bottom: 50px;
}

.main-form .main-input {
    margin-bottom: 20px;
}

.main-form .main-input.-textarea {
    margin-bottom: 40px;
}