.main-title{
    color: #e54d42;
    font-size: 40px;
    font-family: "Press Start 2P", sans-serif;
    font-weight: 400;
    text-shadow: 5px 5px 0px #000;
    
}

.main-title.-second{
    color: #FFF;
    text-shadow: none;
    text-align: center;
}