.main-button{
    display: inline-block;
    background-color: #e54d42;
    padding: 20px 18px; 
    box-shadow: 5px 5px 0px #000000;  
    margin-right: 0;
    transition: transform 100ms linear;
    color: #f9f9f9;
    font-size: 20px;     
    font-weight: 500;
    text-decoration: none;    
}

.main-button:hover{
    transform: scale(1.08);

}
